@keyframes animatewords {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}

h1{
    font-size: 3em;
    > span {
        position: relative;
        display: inline-block;
        color: #FF3C41;
        height: 1.25em;
        vertical-align: bottom;
        overflow: hidden;
        span {
            display: block;
            animation: 
                animatewords 5s
                infinite ease;
        }
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1E1C27;
    color: white;
    font-family: 'Roboto', sans-serif;
}

@keyframes animatewords {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}